.navbar {
  background-color: #003b95;
  display: flex;
  justify-content: center;
  height: 50px;
}

.navContainer {
  display: flex;
  width: 100%;
  max-width: 1024px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 500;
  font-size: x-large;
  color: white;
}

.navButton {
  padding: 5px 10px;
  font-size: medium;
  margin-left: 20px;
  border: none;
  border-radius: 3px;
  color: #003b95;
}
